<% provide(:title, "About") %>

<h1>About</h1>
<p>
  Ever wanted to know whether one of your friends is on campus or not?!
  Well, now you never have to wonder again!
  Here's a simple application to tell which of your friends are on campus!
  It doesn'g give you an exact location so you don't have to worry about stalkers!
</p>
