<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  Sign up and create an account to view which of your friends are on campus!
  With any bugs, comments or concerns visit our contact page to inform a team member.
</p>
