<div class="center jumbotron">
  <h1><!--Welcome to the Sample App-->
        Welcome to CampÜs!
  </h1>
  <h2>
    Are you on it?
    Get on it!
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
</div>

<div>
<%= link_to image_tag("flag.jpg", alt: "RPI Flag"), 
                      'http://rpi.edu' %>
</div>