<footer class="footer">
  <small>
    Not the app you want, but the app you need.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.reddit.com/r/news">News</a></li>
    </ul>
  </nav>
</footer>